watchdog==3.0.0
requests==2.31.0
pyinstaller
discord.py
wxPython
Pillow
pyzbar
pywin32
pynput
mss  # Added for GPU-rendered window capturing
psutil  # Re-added for process and system utilities
webcolors
supabase > 2.7.0 # Added for Supabase integration
python-dotenv==1.0.0  # For managing environment variables
pyperclip  # Added for clipboard operations in Supabase onboarding