watchdog
requests
beautifulsoup4
pyinstaller
discord.py
wxPython
Pillow
pyzbar
pywin32
pynput
mss  # Added for GPU-rendered window capturing
psutil  # Re-added for process and system utilities
webcolors
supabase > 2.7.0 # Added for Supabase integration
python-dotenv  # For managing environment variables
pyperclip  # Added for clipboard operations in Supabase onboarding
plumbum  # Added for improved shell command execution
nuitka  # Added for alternative compilation method